/*
Common
************************/

html,
body {
  height: 100%;
  font-family: sans-serif;
}

h1 {
  margin-left: 10px;
  display: block;
  font-size: 20px;
  font-weight: 600;
}

.main {
  text-align: left;
  width: 100%;
  max-width: 600px;
  border-left: 1px solid rgb(220, 226, 230);
  border-right: 1px solid rgb(220, 226, 230);
}

.main-header {
  font-style: normal;
  font-size: 15px;
  padding: 10px;
  border-bottom: 1px solid rgb(220, 226, 230);
  display: flex;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
}

.content .main-header img {
  width: 50px;
}

.content {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

textarea {
  font-family: inherit;
  font-size: 15px;
  line-height: inherit;
  margin: 0px;
}

/*
Post
************************/

.post_form {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.post_form {
  display: flex;
  flex-direction: column;
  margin-bottom: -25px;
}

.tweet {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.input-div {
  display: flex;
  flex-direction: column;
}

.post_form input {
  border: 0px;
  width: 360px;
  background-color: #e6fef7;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 15px;
  margin: 0px 0px px;
}

input .form-control {
  min-height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  border: 1px solid #ced4da;
}

.post_form textarea {
  border: 6px;
  padding: 10px;
  width: 95%;
  height: 100px;
  background-color: white;
}

.btn {
  background-color: rgb(29, 161, 242);
  color: white;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.25rem;
  width: 18%;
  height: 44px;
  border: none;
}

.home .tweet .profile-icon img {
  width: 80%;
  border-radius: 50%;
  width: 80px;
  padding: 5px 15px 10px 10px;
  margin-top: 20px;
}

.post_form .input-area [type="text"] {
  border: 0px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 15px;
}

.post_form .bottom-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  border-top: 1px solid rgb(235, 238, 240);
  padding-top: 0px;
  /* cursor: pointer; */
  align-items: baseline;
}

.bottom-area input {
  background-color: transparent;
}

.posts ul {
  padding: 0;
}

.posts li {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid rgb(235, 238, 240);
}

.posts li .menu_icon {
  width: 20px;
  position: absolute;
  right: 32%;
}

.posts li .menu {
  display: none;
  position: absolute;
  top: 40%;
  right: 30%;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 3px;
}

.posts li .menu a {
  text-decoration: none;
}

.posts li .logo {
  flex-basis: 15%;
}

.posts li .logo img {
  width: 80%;
  border-radius: 50%;
  border: 1px solid rgb(235, 238, 240);
}

.posts li .heart {
  flex-basis: 15%;
}

.posts li .heart img {
  width: 40%;
}

.posts .ditch {
  height: 25px;
  border-top: 1px solid rgb(235, 238, 240);
  border-bottom: 1px solid rgb(235, 238, 240);
  background-color: rgb(247, 248, 248);
  border-bottom: 1px solid rgb(235, 238, 240);
}

.posts .name_body {
  flex-basis: 85%;
}

@media screen and (max-width: 500px) {
  .posts .name_body .name .datetime {
    font-size: 20px;
  }
}

.posts .name_body a .nickname {
  color: rgb(21, 32, 43);
  font-size: 15px;
  font-weight: bold;
}

.posts .name_body a .datetime {
  padding-left: 10px;
  color: rgb(71, 71, 71);
  font-size: 13px;
}

a {
  text-decoration: none;
  color: rgb(21, 32, 43);
}

.posts .name_body .icon-list .like-count {
  width: 25px;
  padding-top: 0px;
  color: #474747;
}

.posts .name_body .icon-list .like img {
  width: 18px;
  margin-right: 10px;
  cursor: pointer;
  padding-top: 1px;
}

.posts .name_body .icon-list {
  display: flex;
  margin-top: 15px;
}

.form-control-sm {
  min-height: calc(1.5em + 0.5rem + 2px);
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
img.tweet-border {
  width: 400px;
}
